header {
    background-color: rgba(2, 64, 100, 1);
    text-align: center;
    margin: 0px;
}

.title {
    padding: 50px;
}

.title h1 {
    font-size: 60px;
    color: white;
}

nav {
    background-color: rgba(153, 185, 203, 1);
    padding: 20px;
}

nav ul {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
    list-style: none;
}

p {
    color: black;
}

body {
    background-color: rgba(153, 185, 203, 1);
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

.description-right,.description-left {
    padding: 30px;
}

.img-left,.img-right {
    padding: 30px;
}

.img-left img,.img-right img{
    width: 800px;
    height: auto;
}

.box-website-left {
    display: flex;
    background: white;
    margin-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.box-website-right {
    display: flex;
    background: white;
    padding-right: 50px;
    padding-left: 50px;
}

#anchor-port,#anchor-about,#anchor-contact {
    background-color: rgba(2, 64, 100, 1);
    text-align: center;
    padding: 20px;
    margin: 0px;
    color: white;
}

#about-body {
    background-color: white;
    display: flex;
    padding-left: 50px;
    padding-right: 50px
}

#about-body img {
    width: 700px;
    padding: 30px;
}

.about-text {
    padding: 30px;
}

#contact-body {
    text-align: center;
    background-color: rgba(5, 94, 146, 1);
    padding: 50px;
}

h2 {
    color: white;
}

.phone-email {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

strong {
    text-decoration: underline;
}

footer {
    text-align: center;
}

footer p {
    color: rgba(5, 94, 146, 1);
    padding: 50px;
}