header {
    background-color: rgba(2, 64, 100, 1);
    text-align: center;
    margin: 0px;
}

.title {
    padding: 50px;
}

.title h1 {
    font-size: 60px;
    color: white;
}

nav {
    background-color: rgba(153, 185, 203, 1);
    padding: 20px;
}

nav ul {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
    list-style: none;
}

nav li {
    color: white;
}

a:link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
}

a:visited {
    color: black;
}

a:hover {
    color: rgba(2, 64, 100, 1);
}

p {
    color: black;
    max-width: 75ch;
}

button {
    background-color: rgba(2, 64, 100, 1);
    color: white;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    font-size: 18px;
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    font-size: 18px;
}

.description-right,.description-left {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    
}

.description-right h2,.description-left h2{
    color: rgba(2, 64, 100, 1);
    margin-top: 0px;
}

.description-right div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: end;
}

button:hover {
    background-color: rgba(153, 185, 203, 1);
    color: rgba(2, 64, 100, 1);
}

/*.img-left,.img-right {
    padding: 30px;
}*/

.img-1,.img-2 {
    width: 600px;
    padding-left: 10px;
    padding-right: 10px;
}

.box-website-left img,.box-website-right img {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    object-fit: cover;
    padding: 10px;
}

.box-website-left,.box-website-right {
    display: flex;
    background: white;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
}

#anchor-port,#anchor-about,#anchor-contact {
    background-color: rgba(2, 64, 100, 1);
    text-align: center;
    padding: 20px;
    margin: 0px;
    color: white;
}

#anchor-about,#anchor-contact {
    margin-top: 50px;
}

#about-body {
    background-color: white;
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
}

.about-body img {
    width: 600px;
    height: auto;
}

#about-body img {
    width: 700px;
    padding: 30px;
}

.about-text {
    padding: 30px;
}

#contact-body {
    text-align: center;
    background-color: rgba(5, 94, 146, 1);
    padding: 50px;
}

#contact-body h2 {
    color: white;
}

.phone-email {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

strong {
    text-decoration: underline;
    color: white;
}

footer {
    background-color: rgba(153, 185, 203, 1);
    padding: 50px;
    align-items: center;
}

footer h4 {
    color: rgba(5, 94, 146, 1);
    text-align: center;
    
}

/*@media (min-width: 300px) {
    .box-website-left {
        flex-direction: column;
    }

    .box-website-right {
        flex-direction: column-reverse;
    }

    .img-left img,.img-right img {
        width: 500px;
        height: auto;
    }

    #about-body {
        flex-direction: column;
    }

    .description-right,.description-left {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
    }
}*/

